html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: block !important;
  place-items: unset !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  background-color: #111;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.nav-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 16px;
  cursor: pointer;
}

.nav-links li:hover {
  color : rgb(111, 2, 245)
}

.logo {
  height: auto;
  width: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white; 
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-name {
  font-size: 21px;
  font-weight: bold;
  color: rgb(157, 30, 7)
}


.hero {
  width: 100vw;
  min-height: 90px;
  background: linear-gradient(180deg, #020617 0%, #020617 100%);
  display: flex;
  margin-top: 10px;
  padding: 80px 20px;
  color: white;
  font-family: Arial, sans-serif;
}

.button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  padding: 14px 28px;
}
